body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin-left: 20px;
}

iframe {
  border: none;
  width: 100%;
  height: 50px;
}

#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1, #kolona2 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 1 1 100%;
  align-self: auto;
}

#upiti {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

.upit {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  flex: 1 1 45%; 
}

@media screen and (max-width: 600px) {
  .upit {
    display: none;
  }

  .upit:first-of-type {
    display: block; 
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
  }

  .buttons-wrapper button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(149, 196, 207);
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .upit {
    flex: 1 1 100%; 
  }
  .buttons-wrapper {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .upit {
    flex: 1 1 45%;
  }
  .buttons-wrapper {
    display: none;
  }
}
