body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  padding: 4px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-text {
  margin-bottom: 0;
  transition: opacity 0.5s ease;
  margin: 0;
  display: block;

}

.icon {
  width: 16px;
  height: 16px;
  transition: font-size 0.5s ease, transform 0.5s ease;
  margin-bottom: 10px;
}

a:hover{
  color: #ff9900;
 transition: none;
}
a:hover .icon {
  width: 30px;
  height: 30px;
  transform: translateY(-12px);
}

a:hover .menu-text {
  opacity: 0;
}
